body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #981B15, #591305);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 1200px; /* Genişlik sabit */
    width: 100%;
    margin: 5px;
    padding: 10px; /* Padding'i biraz artırdık */
    background-color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1, h2 {
    color: #333;
    margin-bottom: 10px;
    font-size: 25px; /* Başlık boyutu sabit */
}

.wrapper {
    display: flex;
    gap: 10px; /* İki bölüm arasındaki boşluk */
    justify-content: space-between;
}

.converter-section {
    flex: 1; /* İki bölüm eşit genişlikte olacak */
    background-color: #f9f9f9;
    padding: 20px; /* Padding'i küçülttük */
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 5px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
    font-size: 14px; /* Etiket boyutunu küçülttük */
}

input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px; /* Input boyutunu küçülttük */
    box-sizing: border-box;
}

/* Mobil cihazlar için stil */
@media (max-width: 500px) {
    .container {
        margin: 5px;
        padding: 10px;
    }

    .wrapper {
        flex-direction: column; /* Mobilde tek sütun halinde göster */
        gap: 5px; /* Mobilde bölümler arası boşluğu azalt */
    }

    .converter-section {
        padding: 15px; /* Mobilde padding'i daha da küçült */
    }

    h1, h2 {
        font-size: 20px; /* Mobilde başlık boyutunu küçült */
    }

    label {
        font-size: 12px; /* Mobilde etiket boyutunu küçült */
    }

    input {
        font-size: 10px; /* Mobilde input boyutunu küçült */
    }
}