body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #981B15, #591305);
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 800px;
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.logo {
    width: 100px;
    height: auto;
}

h1 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0 10px; /* Konteynırın içine padding ekle */
    box-sizing: border-box; /* Padding'i genişliğe dahil et */
}

.button {
    width: calc(50% - 20px); /* Butonların genişliği */
    padding: 15px 20px;
    background-color: #981B15;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    display: inline-block;
    margin: 8px 0;
    text-align: center;
    box-sizing: border-box; /* Padding ve border'ı genişliğe dahil et */
}

.button:hover {
    background-color: #591305;
}

/* Mobil cihazlar için stil */
@media (max-width: 768px) {
    .button {
        width: 100%; /* Butonların genişliğini %100 yap */
        margin: 8px 0; /* Butonlar arası boşluk */
    }

    .button-container {
        flex-direction: column; /* Butonları alt alta diz */
        padding: 0; /* Mobilde padding'i sıfırla */
    }
}