body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #981B15, #591305);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 600px;
    width: 100%;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 16px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #981B15;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-bottom: 8px;
}

button:hover {
    background-color: #591305;
}

.result {
    margin-top: 20px;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

#resultText {
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
    color: #981B15; /* Örnek temaya uygun kırmızı tonu */
}

#resultText.error {
    color: #ff0000; /* Hata durumunda kırmızı renk */
}

/* Mobil cihazlar için stil */
@media (max-width: 768px) {
    .container {
        margin: 10px;
        padding: 15px;
    }
}